---
import "./AboutLayout.less";
---

<section id="about-section">
	<div class="container">
		<!-- Left section -->
		<div class="about-images-container">
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors-m.jpg"
				/>
				<source
					media="(min-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors.jpg"
					alt="people outside"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/pathway-m.jpg"
				/>
				<source
					media="(min-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/pathway.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/[pathway].jpg"
					alt="people outside"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment-m.jpg"
				/>
				<source
					media="(min-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment.jpg"
					alt="urban environment in green"
					width="254"
					height="262"
				/>
			</picture>
		</div>
		<!-- Right Section -->
		<div class="content">
			<span class="topper">Who we are</span>
			<h2 class="section-title title">From Dreams To Summits</h2>
			<p class="section-text text">
				Embark on Andean adventures with Guru Travel. 5 years of
				experience, 3000+ satisfied clients. Expert guides ensure safe
				peak conquests, crafting unforgettable memories in Huaraz,
				Per&uacute;.<br />Your journey starts now.
			</p>
            <div class="stats-container">  
                <div class="stat-group stat-2">
                    <p class="stat-bold">5</p>
                    <p class="stat-description">world-class mountain guides</p>
                </div>
                <div class="stat-group stat-3">
                    <p class="stat-bold">130</p>
                    <p class="stat-description">years of combined experience</p>
                </div>
				<div class="stat-group stat-1">
                    <p class="stat-bold">3000</p>
                    <p class="stat-description">happy climbers</p>
                </div>
            </div>
            <a href="/" class="solid-btn about-section-btn">Learn More</a>
		</div>
	</div>
</section>
