/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#all-expeditions-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: var(--sectionPadding);

		.container {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: (840/16rem);
        }
    }
}
