---
import "./AllExpeditionsLayout.less";
import ExpeditionCard from "../../../components/Expedition/ExpeditionCard.astro";
---
<section id="all-expeditions-layout">
    <div class="container">
        <div class="content">
        </div>
        <div class="all-expetitions-container">
            <ExpeditionCard />
        </div>
    </div>
</section>