---
import "./ExpeditionDetailsCost.less";
import usersSVG from "../../../../assets/svg/users.svg";
import ExpeditionDetailsInfoCard from "../../../../components/ExpeditionDetailsInfoCard/ExpeditionDetailsInfoCard.astro";
const { data } = Astro.props;
import { t } from "i18next";
---
<!-- ============================================ -->
<!--  	  	   Expedition Details - Cost          -->
<!-- ============================================ -->
<section class="exped-details-section" id="cost">
	<div class="container">
		<h2 class="exped-details-section-title">{t("common.cost")}</h2>
        <ul class="price-list">
            <li>
                <p class="text" set:html={t("expeditions:expeditions.details.cost.price-introduction-text")} />
            </li>
            {
                Object.entries(data.priceList).map(([priceKey, priceValue]) =>
                <li>
                    <p class="price-list-key text">{priceKey}</p>
                    <p class="price-list-value text" set:html={priceValue} />
                </li>
                )
            }
        </ul>
        <p class="text" set:html={t("expeditions:expeditions.details.cost.english-spanish-guides-available-text")} />
        <ExpeditionDetailsInfoCard
            iconSVG={usersSVG}
            iconPosition="bottomStraight"
            title={t("expeditions:expeditions.details.cost.info-card.title")}
            text={t("expeditions:expeditions.details.cost.info-card.text")}
        />
        <p class="text" set:html={t("expeditions:expeditions.details.cost.personalized-experience-text")} />
	</div>
</section>
