---
import checkmarkImg from "../../../../assets/svg/checkmark.svg";
import IconAndLabel from "../../../../components/IconAndLabel/IconAndLabel.astro";
import "./ExpeditionDetailsIncluded.less";
const {frontmatter} = Astro.props;
---
<section class="exped-details-section" id="exped-details-included-section">
	<div class="container">
        <h2 class="exped-details-section-title">What's included</h2>
        <div class="exped-details-included-line">
            <p class="subtitle">Pick-up</p>
            <p class="text">{frontmatter.pickup}</p>
        </div>
        <div class="exped-details-included-line">
            <p class="subtitle">Drop-off</p>
            <p class="text">{frontmatter.dropoff}</p>
        </div>
        <div class="exped-details-included-line">
            <p class="subtitle">Included</p>
            <IconAndLabel 
                value="asdasdasd" 
                imgSrc={checkmarkImg}
            />
        </div>

	</div>
</section>
