---
import QuoteUserProfile from '../QuoteUserProfile/QuoteUserProfile.astro';
import CarouselCircles from '../CarouselCircles/CarouselCircles.astro';
import './ReviewQuote.less';
import { Image } from "astro:assets";
import leftQuote from "../../assets/images/left-quote.png";
import rightQuote from "../../assets/images/right-quote.png";

---

<div class="review-quote">
    <Image
        class="review-left-quote"
        src={leftQuote}
        alt="Left Quote"
    />
    <div class="review-content">
        <p class="review-quote-text text">
            <span class="bold">Amazing!</span> The guides were so kind and attentive to our needs. Out of all the tour guides we found,
            I'd definitely recommend Diego and his team!
        </p>
        <QuoteUserProfile name="Jake Shelton" activity="Alpamayo Trek" date="May 2023" />
        <CarouselCircles />
    </div>
    <Image
        class="review-right-quote"
        src={rightQuote}
        alt="Right Quote"
    />
</div>