---
import './HomeExpedGallery.less';
import ExpedImgCard from '../ExpedImgCard/ExpedImgCard.astro';

---
<div class="exped-images-container">
    <ExpedImgCard expedTitle="Santa Cruz Trek"/>
    <ExpedImgCard expedTitle="Alpamayo Summit" />
    <ExpedImgCard expedTitle="Pisco Mountain" />
    <ExpedImgCard expedTitle="Huayhuash Circuit" />
</div>