---
import './HomeExpedGallery.less';
import ImgCardwithOverlay from '../ImgCardwithOverlay/ImgCardwithOverlay.astro';
---
<!-- Gallery component in a specific order for this layout. Still need to find a way to name the different galleries. -->
<div class="exped-images-container">
    <ImgCardwithOverlay title="Santa Cruz Trek"/>
    <ImgCardwithOverlay title="Alpamayo Summit" />
    <ImgCardwithOverlay title="Pisco Mountain" />
    <ImgCardwithOverlay title="Huayhuash Circuit" />
</div>