---
import './HomeExpedGallery.less';
import ImgCardwithOverlay from '../ImgCardwithOverlay/ImgCardwithOverlay.astro';

---
<div class="exped-images-container">
    <ImgCardwithOverlay title="Santa Cruz Trek"/>
    <ImgCardwithOverlay title="Alpamayo Summit" />
    <ImgCardwithOverlay title="Pisco Mountain" />
    <ImgCardwithOverlay title="Huayhuash Circuit" />
</div>