---
import Navigation from "../components/Navigation/Navigation.astro";
import "../styles/root.less";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <Navigation />
    </body>
</html>