---
import "./AboutDetails.less";
import { t } from "i18next";
import TextDisappearingText from "../../../components/TextDisappearingText/TextDisappearingText.astro";
import whoWeAreImg from "../../../assets/images/who-we-are.jpg";
import whoWeAreImgMobile from "../../../assets/images/who-we-are-m.jpg";
---
<section id="about-details-section">
    <div class="container">
        <TextDisappearingText topTextTitle={t("about:about.about-section.top-text-title")} bottomTextTitle={t("about:about.about-section.bottom-text-title")} imgSrc={whoWeAreImg.src} imgSrcMobile={whoWeAreImgMobile.src}>
            <div slot="topText">
                <p class="text">
                    {t("about:about.about-section.text-1")}
                </p>    
                <p class="text">
                    {t("about:about.about-section.text-2")}
                </p>
            </div>
            <div slot="bottomText">
                <p class="text">
                    {t("about:about.about-section.text-3")} 
                </p>    
                <p class="text">
                    {t("about:about.about-section.text-4")}
                </p>
            </div>
        </TextDisappearingText>
    </div>
</section>