---
import "./AboutDetails.less";
import TextWithDisappearingImg from "../../../components/TextWithDisappearingImg/TextWithDisappearingImg.astro";
---
<section id="about-details-section">
    <div class="container">
        <TextWithDisappearingImg imgTitle="who-we-are">
            <p class="text">
                Our extraordinary journey started right here amidst the towering Andean peaks, where a tight-knit group of friends, all hailing from these very mountains, harbored a shared aspiration. 
            </p>    
            <p class="text">
                Living in the midst of breathtaking beauty, yet grappling with the challenges of poverty, we united with a common purpose. Fueled by a desire to uplift our families and provide for their well-being, we conceived Guru Travel in 2018.
            </p>
        </TextWithDisappearingImg>
    </div>
</section>