---
import './HomeGalleryLayout.less';
---
<section id="home-gallery-section">
	<div class="container">
        <div class="home-gallery-images-container">
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture><picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
            <picture class="home-gallery-img show-on-tablet">
                <source
                    media="(max-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                />
                <source
                    media="(min-width: 480px)"
                    srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    alt="person gardening"
                    width="400"
                    height="200"
                />
            </picture>
        </div>
        <div class="content">
            <span class="topper">Gallery</span>
            <h2 class="section-title title gallery-title">
                We help capture unforgettable memories
            </h2>
            <a href="/" class="solid-btn gallery-section-btn">View Gallery</a>
        </div>
    </div>
</section>