---
import "./HomeGalleryLayout.less";
---

<section id="home-gallery-section">
	<div class="container">
        <div class="home-gallery-images-container home-gallery-images-container-top">
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="480"
					height="160"
				/>
			</picture>
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="160"
					height="160"
				/>
			</picture>
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="160"
					height="160"
				/>
			</picture>
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="160"
					height="160"
				/>
			</picture>
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="160"
					height="160"
				/>
			</picture>
            <picture class="home-gallery-img">
				<source
					media="(max-width: 480px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
				/>
				<source
					media="(min-width: 160px)"
					srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
					alt="person gardening"
					width="160"
					height="160"
				/>
			</picture>
        </div>
        <div class="bottom-part">

            <!--<div class="content">
                <span class="topper">Gallery</span>
                <h2 class="section-title title gallery-title">
                    We help capture unforgettable memories
                </h2>
            </div>-->
            <div class="home-gallery-images-container home-gallery-images-container-bottom">
                <div class="content">
                    <span class="topper">Gallery</span>
                    <h2 class="section-title title gallery-title">
                        We help capture unforgettable memories
                    </h2>
                    <a href="/" class="solid-btn gallery-section-btn">View Gallery</a>
                </div>
                <picture class="home-gallery-img">
                    <source
                        media="(max-width: 480px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                    />
                    <source
                        media="(min-width: 160px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                        alt="person gardening"
                        width="480"
                        height="160"
                    />
                </picture>
                <picture class="home-gallery-img">
                    <source
                        media="(max-width: 480px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                    />
                    <source
                        media="(min-width: 160px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                        alt="person gardening"
                        width="160"
                        height="160"
                    />
                </picture>
                <picture class="home-gallery-img">
                    <source
                        media="(max-width: 480px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                    />
                    <source
                        media="(min-width: 160px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                        alt="person gardening"
                        width="160"
                        height="160"
                    />
                </picture>
                <picture class="home-gallery-img hide-544">
                    <source
                        media="(max-width: 480px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg"
                    />
                    <source
                        media="(min-width: 160px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
                        alt="person gardening"
                        width="160"
                        height="160"
                    />
                </picture>
            </div>
        </div>
	</div>
</section>
