---
import "./Navigation.less";
import { Image } from "astro:assets";
import Logo from "../../assets/images/gurutravel_logo.png";
import { t } from "i18next";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";

---
<!-- ============================================ -->
<!--         Navigation Code Stitch               -->
<!-- ============================================ -->
<header id="header">
	<div class="container navigation">
		<!-- Navigation Logo -->
		<a href="/" class="nav-logo" aria-label="back to homepage">
			<img
				src={Logo.src}
				alt="logo"
				width="210"
				height="29"
				aria-hidden="true"
				decoding="async"
			/>
		</a>
		<!-- Navigation List -->
		<nav class="nav" role="navigation">
			<!-- Mobile Language Button -->
			<div class="nav-language-mobile nav-li-link">
				<LanguageSelector 
					showFlag={true} 
					class="nav-language-selector"
					languageMapping={{ en: "EN", es: "ESP" }}
				 />
			</div>
			<!-- Mobile Nav Toggle -->
			<button class="cs-toggle" aria-label="mobile menu toggle">
				<div class="cs-box" aria-hidden="true">
					<span class="cs-line cs-line1" aria-hidden="true"></span>
					<span class="cs-line cs-line2" aria-hidden="true"></span>
					<span class="cs-line cs-line3" aria-hidden="true"></span>
				</div>
			</button>
			<!-- 
				We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list
				gets too long from too many dropdowns being opened and needs to have an overflow 
				scroll. This wrapper acts as the background so it can go the full height of the 
				screen and not cut off any overflowing nav items while the cs-ul stops short of 
				the bottom of the screen, which keeps all nav items in view no matter how mnay 
				there are.
			-->
		  
			<div class="nav-ul-wrapper">
				<ul id="nav-ul-expanded" class="nav-ul" aria-expanded="false">
					<li class="nav-li">
						<!-- if currentPath is truthy, nav-li-link-selected will be added -->
						<a
							id="nav-home-link"
							href={localizePath("/")}
							class:list={["nav-li-link", {"nav-li-link-selected": currentPath===""}]}
						>
							{t("common.home")}
						</a>
					</li>
					<li class="nav-li nav-padded-li">
						<a 
							id="nav-team-link" 
							href={localizePath("/about")}
							class:list={["nav-li-link", {"nav-li-link-selected": currentPath.includes("about")}]}
						>{t("common.team")}</a>
					</li>
					<li class="nav-li nav-padded-li">
						<a
							id="nav-expeditions-link"
							href={localizePath("/expeditions")}
							class:list={["nav-li-link", {"nav-li-link-selected": currentPath.includes("expeditions")}]}
							>{t("common.expeditions")}</a
						>
					</li>
					<li class="nav-li">
						<a 
							id="nav-gallery-link" 
							href={localizePath("/gallery")}						
							class:list={["nav-li-link", {"nav-li-link-selected": currentPath.includes("gallery")}]}
							>{t("common.gallery")} </a
						>
					</li>
					<li class="nav-li hide-mobile">
						<a class="nav-li-link">
							<LanguageSelector 
								showFlag={true} 
								class="nav-language-selector"
								languageMapping={{ en: "EN", es: "ESP" }}
							/>						
						</a>
					</li>
					<li class="nav-li extra-enquire-link">
						<a 
							id="nav-gallery-link" 
							href={localizePath("/about/#enquire")}
							class="nav-li-link"
						>
							{t("common.enquire")}
						</a>
					</li>
				</ul>
			</div>
			<a 
				href={localizePath("/about/#enquire")} 
				class="solid-btn nav-btn"
			>
				{t("common.enquire")}
			</a>
		</nav>
	</div>
</header>
<script src="./Navigation.js"></script>
