---
import "./GalleryLayout.less";
const { frontmatter } = Astro.props;
import { t } from "i18next";
import MainGallery from "../../components/MainGallery/MainGallery.jsx";
---
<section id="gallery-section">
	<div class="container">
        <div class="content">
            <span class="topper" set:html={t("gallery:gallery.topper")} />
			<h2 class="section-title title about-team-title" set:html={t("gallery:gallery.title")}/>
        </div>
        <div class="gallery-container">
            <MainGallery client:visible />
        </div>
    </div>
</section>