---
import "./GalleryLayout.less";
const { frontmatter } = Astro.props;
import { t } from "i18next";
import MainGallery from "../../components/MainGallery/MainGallery.jsx";
---
<section id="gallery-section">
	<div class="container">
        <div class="content">
            <span class="topper">{t("gallery:gallery.topper")}</span>
			<h2 class="section-title title about-team-title">
				{t("gallery:gallery.title")}
			</h2>
        </div>
        <div class="gallery-container">
            <MainGallery client:visible />
        </div>
    </div>
</section>