---
import HeroLayout from "../layouts/HeroLayout.astro";
import Navigation from "../components/Navigation/Navigation.astro";
import "../styles/root.less";
import AboutLayout from "../layouts/AboutLayout/AboutLayout.astro";
import ExpeditionsLayout from "../layouts/ExpeditionsLayout/ExpeditionsLayout.astro";
import HomeReviewsLayout from "../layouts/HomeReviewsLayout/HomeReviewsLayout.astro";
import HomeGalleryLayout from "../layouts/HomeGalleryLayout/HomeGalleryLayout.astro";
import HomeGallery from "../layouts/HomeGallery/HomeGallery.astro";
import { Image } from "astro:assets";
import dirtImage from "../assets/images/grain-white-1200-opac18.png";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<div class="fillbody"></div>
		 <!-- Background Image -->
		 <picture class="dirt-bg-img">
			<source media="(max-width: 600px)" srcset={dirtImage.src}>
			<source media="(min-width: 601px)" srcset={dirtImage.src}>
			<img aria-hidden="true" loading="lazy" decoding="async" src={dirtImage.src} alt="kitchen cabinets" width="1920" height="1280">
		</picture>
		<Navigation />
		<HeroLayout
			heroSection="homepage"
			heroTitle1="dream big. climb high."
			heroTitle2="explore the peruvian andes."
		/>
		<AboutLayout />
		<ExpeditionsLayout />
		<HomeReviewsLayout />
		<HomeGallery />
	</body>
</html>
