---
import "./ExpeditionDetailsGallery.less";
import ExpeditionGallery from "../../../../components/ExpeditionGallery/ExpeditionGallery.jsx";
const { data } = Astro.props;
import { t } from "i18next";
---
<section class="exped-details-section" id="gallery">
	<div class="container">
		<h2 class="exped-details-section-title">{t("common.gallery")}</h2>
        <div class="exped-details-gallery-container">
            <ExpeditionGallery client:visible />
        </div>
    </div>
</section>