---
import "./ExpeditionDetailsGallery.less";
import ExpeditionGallery from "../../../../components/ExpeditionGallery/ExpeditionGallery.jsx";
import ExpeditionGalleryImg from "../../../../components/ExpeditionGalleryImg/ExpeditionGalleryImg.astro";
import Img1 from "../../assets/images/climb-1.jpg";
import Img2 from "../../assets/images/climb-2.jpg";
const galleryImgList = [Img1, Img2];
const { frontmatter } = Astro.props;
---
<section class="exped-details-section" id="exped-details-gallery-section">
	<div class="container">
		<h2 class="exped-details-section-title">Gallery</h2>
        <div class="exped-details-gallery-container">
            <ExpeditionGallery client:visible />
        </div>
    </div>
</section>