/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#about-team-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: var(--sectionPadding);

		.container {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: (840/16rem);

			.content {
				min-width: fit-content;
				text-align: center;
				align-items: center;
				//padding: var(--sectionPadding);
			}

			.reviews-title {
				margin: 0;
			}
		}

		.guide-gallery {
			display: flex;
			flex-direction: column;
			width: 100%;

			.guide-container {
				display: flex;
				flex-direction: column;
				position: relative;

				input {
					display: none;
				}

				input:checked ~ .guide-collapsible {
					display: flex;
					transition: 0.3s;
				}

				input:checked ~ label {
					aspect-ratio: 2 / 1;
					transition: 0.3s;

					.down-icon {
						display: none;
					}
					.up-icon {
						display: block;
					}

					.guide-img-overlay {
						background: none;
						transition: 0.3s;
					}

					.guide-img,
					.guide-img-overlay {
						aspect-ratio: 2 / 1;
						transition: 0.3s;
					}
				}

				label {
					position: relative;
					width: 100%;
					min-height: (200/16rem);
					aspect-ratio: 4 / 1;
					transition: 0.3s;
					cursor: pointer;

					&:hover {
						.guide-img-overlay {
							background: none;
						}
					}
				}

				.guide-img-overlay {
					width: 100%;
					aspect-ratio: 4 / 1;
					transition: 0.3s;
					background: rgba(50, 50, 50, 0.4);
					//backdrop-filter: blur(21px);
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					min-height: (200/16rem);
				}

				.down-icon,
				.up-icon {
					position: absolute;
					bottom: 1rem;
					right: 1rem;
					z-index: 2;
				}

				.up-icon {
					transform: rotate(180deg);
					display: none;
				}

				.guide-img {
					width: 100%;
					min-height: (200/16rem);
					aspect-ratio: 4 / 1;

					img {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						object-fit: cover;
					}
				}

				.guide-collapsible {
					display: none;
					transition: 0.3s;
					background-color: inherit;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					padding: 2rem 0 1.5rem 1.5rem;
					box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
					position: relative;
					z-index: 1;

					.minus-icon {
						position: absolute;
						background-color: var(--bodyTextColorLight);
						height: (4/16rem);
						aspect-ratio: 6 / 1;
						right: 2rem;
						top: 2rem;
						&:hover {
							cursor: pointer;
						}
					}

					p {
						z-index: 0;
						text-align: left;
						width: calc(100% - 4rem) !important;
					}

					.guide-collapsible-guide-name {
						font-size: var(--bodyFontSize);
						color: var(--bodyTextColor);
						font-weight: 600 !important;
						margin-bottom: 0.2rem;
					}

					.subtitle {
						font-size: var(--subtitleFontSize);
						letter-spacing: (3/16rem);
						color: var(--bodyTextColorLight);
						font-weight: 500;
					}

					.text {
						margin-bottom: 1rem;
					}

					.guide-collapsible-fun-fact {
						display: flex;
						flex-direction: column;
						gap: (8/16rem);
						width: calc(100% - 4rem) !important;
					}
				}
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#about-team-section {
		.container {
			max-width: 66.5rem !important;

			.wrap {
				width: 100%;
			}

			.guide-gallery {
				list-style: none;
				margin: 0 auto;
				width: 100%;
				display: flex;
				flex-direction: row;

				.guide-container {
					.down-icon {
						display: none !important;
					}

					.up-icon {
						display: none !important;
					}

					.guide-img,
					label,
					.guide-img-overlay {
						aspect-ratio: unset !important;
					}
				}

				input:checked ~ .guide-collapsible {
					display: none;
				}

				input:checked ~ label {
					transition: 0.3s;

					.guide-img,
					.guide-img-overlay {
						transition: 0.3s;
					}
				}

				.guide-container {
					float: left;
					width: 20%;
					height: 600px;
					opacity: 0.4;
					transition: all 0.5s ease-in-out;

					&:hover,
					&:first-child ~ li:last-child {
						width: 60%;
						opacity: 1;
						transition: all 0.5s ease-in-out;

						.guide-collapsible {
							display: flex;
						}
					}

					&:hover ~ li:last-child {
						width: 12%;
						opacity: 0.4;
					}

					&:nth-child(1) {
						//background: url("https://dl.dropbox.com/s/mbho5bqfofk6g99/pic.jpg")
						//top center no-repeat;
					}
					&:nth-child(2) {
						background: url("https://dl.dropbox.com/s/kioimintl0v9l4d/pic.jpg")
							top right no-repeat;
					}
					&:nth-child(3) {
						background: url("https://dl.dropbox.com/s/7a60gndncwf81x8/pic.jpg")
							top center no-repeat;
					}
					&:nth-child(4) {
						background: url("https://dl.dropbox.com/s/nkwuv9jz8i99309/pic.jpg")
							top center no-repeat;
					}
					&:nth-child(5) {
						background: url("https://dl.dropbox.com/s/mbho5bqfofk6g99/pic.jpg")
							top center no-repeat;
					}
				}
			}
		}
	}
}
