---
import './AboutSection.less';
import { Image } from "astro:assets";
import homepageImg from "../assets/images/sylvain-mauroux-OIuzDRYA3cw-unsplash.jpg";
---

<div class="about-section container">
	<div class="images-container">
		<div class="left-images-container">
			<img
				class="about-section-img"
				src={homepageImg.src}
				alt="Climber facing the sun on the summit"
				height={240}
				width={240}	
			/>
			<img
				class="about-section-img"
				src={homepageImg.src}
				alt="Climber facing the sun on the summit"
				height={240}
				width={240}	
			/>
		</div>
		<div class="right-images-container">
            <img
				class="about-section-img"
				src={homepageImg.src}
				alt="Climber facing the sun on the summit"
				height={240}
				width={240}	
			/>
			<img
				class="about-section-img"
				src={homepageImg.src}
				alt="Climber facing the sun on the summit"
				height={240}
				width={240}	
			/>
        </div>
	</div>
	<div class="about-content content">
		<h2 class="topper">Who We Are</h2>
		<h1 class="section-title title">From Dreams To Summits</h1>
		<p class="section-text text">
			Embark on Andean adventures with Guru Travel. 5 years of
			experience, 3000+ satisfied clients. Expert guides ensure safe
			peak conquests, crafting unforgettable memories in Huaraz,
			Per&uacute;.<br />Your journey starts now.
		</p>
		<div class="stats-container">
			<div class="stat-group stat-1">
				<p class="stat-bold">3000</p>
				<p class="stat-description">happy climbers</p>
			</div>
			<div class="stat-group stat-2">
				<p class="stat-bold">5</p>
				<p class="stat-description">world-class mountain guides</p>
			</div>
			<div class="stat-group stat-3">
				<p class="stat-bold">130</p>
				<p class="stat-description">years of combined experience</p>
			</div>
		</div>
		<a href="/" class="solid-btn about-section-btn">Learn More</a>
	</div>
</div>
