---
import "./ExpeditionDifficultyBars.less";
const {difficulty} = Astro.props;
---
<div class="expedition-difficulty-bars">
    {
        (difficulty == "beginner" || difficulty == "principiante") && 
        <div class="bar"></div>
    }
    {
        (difficulty == "moderate" || difficulty == "moderada") && 
        <div class="bar"></div>
        <div class="bar"></div>
    }
    {
        (difficulty == "advanced" || difficulty == "avanzada") && 
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    }
</div>