---
import "./ExpeditionDetailsSideBar.less";
import { Image } from "astro:assets";
import TableOfContentsButton from "../TableOfContentsButton/TableOfContentsButton.astro";
import xMarkSVG from "../../assets/svg/x.svg";
import { t } from "i18next";
---
<div class="container table-of-contents-container">
    <input type="checkbox" name="toggle-menu-input" id="toggle-menu-input">
    <label for="toggle-menu-input" class="toggle-menu-button-container">
        <TableOfContentsButton />
    </label>
    <div class="expedition-details-sidebar"> 
        <label for="toggle-menu-input" class="toggle-menu-button-close-container">
            <div class="">
                <Image 
                    src={xMarkSVG} 
                    alt="Close Table of Contents"
                    width={20}
                    height={20}
                />
            </div>
        </label>
        <nav class="expedition-details-sidebar-nav">
            <a href="#overview" set:html={t("common.overview")} />
            <a href="#included" set:html={t("common.whats-included")}/>
            <a href="#itinerary"set:html={t("common.itinerary")}/>
            <a href="#cost"set:html={t("common.cost")}/>
            <a href="#gallery"set:html={t("common.gallery")}/>
            <!--<a href="#">Practical Info</a>-->
        </nav>
    </div>
</div>