---
import type { Code } from "astro:components";
import "./ExpeditionDetailsSideBar.less";
import SelectDropDown from "../SelectDropDown/SelectDropDown.astro";
---
<div class="expedition-details-sidebar">
    <nav class="expedition-details-sidebar-nav">
        <a href="#" class="selected">Overview</a>
        <a href="#">What's included</a>
        <a href="#">Itinerary</a>
        <a href="#">Cost</a>
        <a href="#">Gallery</a>
        <a href="#">Practical Info</a>
    </nav>
</div>
