---
import './CarouselCircles.less';
---

<div class="carousel-circles">
    <div class="circle selected-circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>